.authentication-container{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.toggle-text{
    margin-top: 20px;
    justify-content: center;
    text-align:start;
}